/* ===============================
   AskMyDocs Dark Theme
================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html,
body,
[class*="css"] {
    font-family: 'Poppins', sans-serif;
}

/* Main App */
.stApp {
    background: linear-gradient(135deg, #050816, #0b1120);
    color: white;
}

/* Header */
h1 {
    color: #3B82F6;
    text-align: center;
    font-weight: 700;
}

h2, h3 {
    color: #ffffff;
}

/* Sidebar */
section[data-testid="stSidebar"] {
    background: #0f172a;
    border-right: 1px solid #1e293b;
}

/* Buttons */
.stButton > button {
    width: 100%;
    background: linear-gradient(90deg, #2563eb, #06b6d4);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-weight: bold;
    transition: 0.3s;
}

.stButton > button:hover {
    background: linear-gradient(90deg, #1d4ed8, #0891b2);
    transform: scale(1.02);
}

/* Text Input */
.stTextInput input {
    background: #111827;
    color: white;
    border: 1px solid #3b82f6;
    border-radius: 10px;
}

/* File Uploader */
[data-testid="stFileUploader"] {
    background: #111827;
    border: 2px dashed #3b82f6;
    border-radius: 12px;
    padding: 10px;
}

/* Success Message */
.stSuccess {
    border-radius: 10px;
}

/* Spinner */
.stSpinner {
    color: #3b82f6;
}

/* Preview Box */
pre {
    background: #111827 !important;
    color: #e5e7eb !important;
    border-radius: 10px;
}

/* Cards */
div[data-testid="stVerticalBlock"] {
    border-radius: 15px;
}

/* Footer */
footer {
    visibility: hidden;
}

/* Hide Streamlit Menu */
#MainMenu {
    visibility: hidden;
}

header {
    visibility: hidden;
}

.title{
    text-align:center;
    color:white;
    font-size:56px;
    font-weight:700;
    margin-top:5px;
}


.subtitle{
    text-align:center;
    color:#B8C2D6;
    font-size:20px;
    margin-bottom:40px;
}

